name: Dummy test

on:
  push:
   branches:
     - main
  pull_request:
   branches:
     - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        uses: actions/checkout@v3
        run: make
      - name: Test
        uses: actions/checkout@v3
        run: make test
