name: Dummy integration

on:
  push:
   branches:
     - main
  pull_request:
   branches:
     - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        uses: actions/checkout@v4
      - run: make
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        uses: actions/checkout@v4
      - run: make test
